[submodule "pathogen"]
	path = pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim_bundles/colorschemes"]
	path = vim_bundles/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "vim_bundles/wakatime"]
	path = vim_bundles/wakatime
	url = https://github.com/wakatime/vim-wakatime.git
